<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977577507743-61er1r6j5ivur2jrnfe31bvpcqoe7f1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977577507743-61er1r6j5ivur2jrnfe31bvpcqoe7f1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977577507743-50cg37c4qkdlld5obv02h1htums57jiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO8YKNo32mfRa3JV6-U3L-TfDu1KPxan4</string>
	<key>GCM_SENDER_ID</key>
	<string>977577507743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-391817</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-391817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977577507743:ios:5d4ec12638c284183e9baa</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-391817-default-rtdb.firebaseio.com</string>
</dict>
</plist>